

/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  --rosa: 341;
  /* HSL color mode */
  --base-color: hsl(var(--rosa) 100% 71%);
  --base-color-second: hsl(var(--rosa) 100% 71%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/*====  BASE ============================ */
body {
  font: 600 1rem 'Poppins', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'Poppins', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: hsl(341, 100%, 0%);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--rosa), 36%, 57%, 1) 0%,
    hsla(var(--rosa), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--rosa), 36%, 57%, 1) 0%,
    hsla(var(--rosa), 65%, 88%, 0.34) 100%
  );
}

.github{
  height: 50px;
  width: 50px;
  border-radius: 0.25rem;
}

.linkedin{
  height: 40px;
  width: 40px;
  border-radius: 0.25rem;
}

.gmail{
  height: 40px;
  width: 40px;
  border-radius: 0.25rem;
}

.text-projects{
  position: relative;
  text-align: center;
}



/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font: 700 1.31rem 'Yomogi', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

main {
  margin-top: var(--header-height);
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0%;
}

#home .image {
  position: relative;
  right: 0;
  bottom: 0;
}

#home .image::before {
  content: '';
  height: 50%;
  width: 50%;
  background: var(--base-color-second);
  position: absolute;
  top: -15%;
  left: 6.7%;
  z-index: 0;
}


#home .image img {
  position: relative;
  top: -25%;
  right: 10rem;
  scale: 50%;
  overflow: hidden;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .divider-1{
  position: relative;
  top: -2.5rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: -55%;
  text-align: right;
}

#home .github{
  scale: 10%;
}


@media (max-width: 1200px) {
  #home .text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: -20%;
    text-align: center;
    }
  
    #home .image::before {
    content: '';
    height: 60%;
    width: 60%;
    background: var(--base-color-second);
    position: absolute;
    margin-left: 6rem;
    top: -10%;
    right: 0%;
    z-index: 0;
    }

    #home .image img {
      position: relative;
      top: -25%;
      right: 0rem;
      scale: 60%;
      overflow: hidden;
    }

    .divider-1{
      margin-top: -10%;
      margin-bottom: 1rem;
    }

    .divider-2{
      margin-top:5%;
      margin-bottom: 5%;
    }

    .github {
      margin-left: 7rem;
    }

    .linkedin{
      margin-top: -10%;
      margin-left: 12.5rem;
    }
    
    .gmail{
      margin-top: -9%;
      margin-left: 9rem;
    }

    #home .button{
      background-color: var(--base-color);
      color: var(--text-color-light);
      height: 3.5rem;
      display: inline-flex;
      align-items: center;
      padding: 2 2rem;
      border-radius: 0.25rem;
      font: 500 1rem 'Yomogi', sans-serif;
      transition: background 0.3s;
    }

  
}


#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}
